# Folder navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# LS and dirs
alias dirs='dirs -v'

# Qemu
alias qemu='qemu-system-x86_64'

# Python
alias python='python3'
alias pip='pip3'

# Transmission-cli
alias tsm='transmission-remote'

# Misc
alias reload='source ~/.zshrc'
alias s='du -hsc $(ls -A)' # Show size of current folder
alias wttr='curl http://wttr.in/' # Show weather
alias please='sudo'
alias whothis='whoami'
